
html, body {
    margin:0;
    background-color: black;
}

h1 {
    color: rgb(71, 173, 241);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 30px
    
}

.wrapper{
    position: center;
    left: 
    width: 600px;
    
}


.actornames {
    font-size: 40px;
}


.helper {
    border: 1px solid white;
}



p {
    color: rgb(241, 173, 71);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: center;
    font-size: 20px  
 }
 
 h2 {
    color: rgb(71, 173, 241);
    font-family: 'Open Sans', sans-serif;
 
    font-size: 50px;
 }


.content-inner-one{
    height: 100vh;
    background: url("../img/firstman-assets/first_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:inherit;
    
}

#title {
    position: absolute;
    z-index: 6;
    left: 110px;
    top: 250px;
}

.content-inner-two {
    height: 100vh;
    background: url("../img/firstman-assets/second_background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.title {
    position:absolute;
    margin: 0 auto;
    top: 50%;
    left: 25%;
    margin-top: -250;
    margin-left: -250;
}


/* .title {
    display: block;
    margin: 0 auto;
    left: 700px;
    top: 600px;
    
} */

.video {
    display:block;
    margin: 0 auto;
    border: 3px solid white;
}